.passport-block {
    background-color: #FFF;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}

.passport-img-block {
    width: 35%;
}

.passport-img {
    width: 100%;
}

.passport-desk {
    width: 55%;
}

.people-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #E30613;
    margin-bottom: 20px;
}

.people-desc {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: #363636;
    line-height: 50px;
}

.people-red {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: #E30613;
    line-height: 50px;
}

.calls-block {
    padding: 50px 100px;
}

.title-container {
    text-align: center;
}

.title-text {
    font-family: "Lexend", sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 4px 4px #363636;
}

.table-block {
    margin-top: 50px;
}

.table {
    width: 100%;
    border: 2px solid #E30613;
    border-collapse: collapse;
    background-color: #FFF;
    font-family: "Montserrat", sans-serif;
    border-radius: 20px;
}

.table th, 
.table td {
    border: 3px solid #E30613;
    padding: 25px 7px;
    text-align: center;
}

.table-header {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;  
    color: #E30613;  
}

.table-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;  
    color:#363636;
}

.graph {
    background-color: #FFF;
    padding: 50px 100px;
    height: 400px;
    /* ВЫСОТУ ПОТОМ УБРАТЬ!!! */
}

